.wrapper{
	width: 80%;
	margin: auto;
  margin-left: 8.5vw;
  margin-top: 3vw;
  font-family: "futura pt";
}

.wrapper input{
	display: none;
}

.wrapper input:checked + label{
	background-color: #333;
	color: white;
}

.wrapper input[id="tab-1"]:checked ~ .content .tab-1,
.wrapper input[id="tab-2"]:checked ~ .content .tab-2,
.wrapper input[id="tab-3"]:checked ~ .content .tab-3{
	display: block;
}

.wrapper label{
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	background-color: #A3A3A3;
	border-radius: 20px 20px 0 0;
}

.wrapper label:hover{
  background-color: #333;
  color: #fff;
  box-shadow: -4px -2px 21px -4px rgba(125,249,255,1);
}

.wrapper .content{
	position: relative;
}

.wrapper .content article{
  font-family: "futura pt";
  font-size: 1vw;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 70px 40px;
	border-top: 5px solid #333;
	display: none;
}
